{% extends "base.html" %}

{% block title %}历史数据 - {{ id_number }}{% endblock %}
{% block page_title %}卡号: {{ id_number }} 的历史消息{% endblock %}

{% block content %}
    <div class="button-group">
        <a href="{{ url_for('index') }}" class="button">返回首页</a>
    </div>

    {% if historical_messages %}
        {% for msg in historical_messages %}
            <div class="card id-card-yellow"> {# ID卡片使用浅黄色样式 #}
                <div class="card-header">
                    <div>
                        接收时间: <span class="card-title-text">{{ msg['接收时间'] }}</span> - 消息ID: <span class="card-title-text">{{ msg['MessageId'] }}</span>
                    </div>
                    {# 历史页面默认内容展开，所以初始图标是旋转的 #}
                    <span class="card-toggle-icon rotated">▶</span> 
                </div>
                <div class="card-content expanded"> {# 历史页面卡片内容默认展开 #}
                    <div class="message-meta">
                        <div class="item">数据标识: <span>{{ msg['数据标识'] }}</span></div>
                        <div class="item">解析状态: <span class="{{ msg['解析状态'].class }}">{{ msg['解析状态'].text }}</span></div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th class="col-locate-time">定位时间</th>
                                <th class="col-coords">纬度</th>
                                <th class="col-coords">经度</th>
                                <th class="col-altitude">高程</th>
                                <th class="col-custom-data">自定义数据</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-locate-time">{{ msg['定位时间'] }}</td>
                                <td class="col-coords">{{ msg['纬度'] }}</td>
                                <td class="col-coords">{{ msg['经度'] }}</td>
                                <td class="col-altitude">{{ msg['高程'] }}</td>
                                <td class="col-custom-data">
                                    {# 对自定义数据进行特殊处理，如果很长就用details包裹 #}
                                    {% if msg['自定义数据'] and msg['自定义数据']|length > 50 %}
                                        <details style="display: block;">
                                            <summary>{{ msg['自定义数据'][:50] ~ '...' }}</summary>
                                            <pre class="code-block" style="max-height: 100px;">{{ msg['自定义数据'] }}</pre>
                                        </details>
                                    {% else %}
                                        {{ msg['自定义数据'] }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div style="margin-top: 20px;">
                        <details style="margin-top: 5px;">
                            <summary class="button secondary" style="cursor: pointer; display: inline-block;">点击查看原始POST数据</summary>
                            <pre class="code-block">{{ msg.raw_post_data_json }}</pre>
                        </details>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-data-message">ID '{{ id_number }}' 没有任何历史数据。</p>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // 在历史页面，默认所有卡片都是展开的，所以初始图标是旋转的
            // 使用 base.html 中的通用绑定函数
            bindCardToggleEvents();
        });
    </script>
{% endblock %}
